@import '_settings';

.frame {
	
	-webkit-app-region: drag;
	height: 20px;
	text-align: right;
	background-color: $accent-500;
	color: black;
	/*
	
	height: 64px;
	position: fixed;
	width: 100%;
	
	text-align: right;
	font-size: 12px;
	cursor: move;
	border: 1px solid green;*/
}

.frame a {
	color: black;
	-webkit-app-region: no-drag;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	height: 20px;
	margin: 0;
	padding: 0;
	padding: 0px 5px 0px 5px;
}

.frame a:hover {
	color: black;
	background-color: $accent-400;
}

.frame a:visited {
	color: black;
}

.frame a div
{
}

#window-close {
	padding: 0px 18px 0px 18px;
}

#window-close div
{
	height: 18px;
	width: 18px;
}


.thin {
	font-weight: 100;
}

.icon
{
	width: 24px;
	height: 24px;
	margin: auto;
	padding: 0;
	display: inline-block;
	margin-top: 5px;
	background-repeat: no-repeat no-repeat;
	pointer-events: none;
}

.icon16px
{
	width: 16px;
	height: 16px;
}

.icon18px
{
	width: 18px;
	height: 18px;
}

.menu-button
{
	text-align: left !important;
	padding-left: 32px;
	display: inline-block;
	color: $accent-800;
}

.menu-button icon
{
	margin-left: -28px;
	margin-top: -60px;
}

.menu-button span
{
	margin-top: -30px;
}

.menu-button:hover
{
	color: $accent-700;
}

.menu-button:visited
{
	color: $accent-800;
}


.footer.row {
	height: 18px;
	bottom: 0;
	line-height: 18px;
}
.footer {
	font-size: 0.7em;
	padding-left: 4px;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
}
.actions.row {
	height: 40px;
	bottom: 18px;
	line-height: 18px;
}
.actions {
	color: white;
	background-color: #2f2f2f;
	padding-left: 4px;
}
.actions select {
	margin-top: 6px;
	margin-right: 8px;
	line-height: 28px !important;
	border: 0;
	height: 28px !important;
}


.wallpaper {
	background: url(../img/wallpaper-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.blur {
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8x);
	-ms-filter: blur(8px);
	filter: blur(8px);
}
.wallpaper-2 {
	background-image: url('../img/wallpaper-2.jpg');
	background-size: cover;
}
.wallpaper-3 {
	background-image: none;
	background-color: white;
	background: linear-gradient(to bottom, rgb(255, 255, 255) 20%, rgb(120, 120, 120) 100%);
}
.wallpaper-4 {
	/*
  background-image: none;
  background-color: gray;
  background: linear-gradient(to bottom, rgb(30,30,30) 20%,rgb(100,100,100) 100%);
*/
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
	/* W3C */
}
.wallpaper-gray {
	background-image: none;
	background-color: gray;
	background: linear-gradient(to bottom, rgb(60, 60, 60) 0%, rgb(30, 30, 30) 100%);
}


.animated-background
{
    background-color: #7db9e8 !important;
    -webkit-animation: 300s colors infinite !important;
            animation: 300s colors infinite !important;
}


@-webkit-keyframes colors {
	0% {
		background-color: #7db9e8;
	}
	20% {
		background-color: #82c06b;
	}
	40% {
		background-color: #73bcc3;
	}
	60% {
		background-color: #e33d3d;
	}
	80% {
		background-color: #e48a70;
	}
	100% {
		background-color: #7db9e8;
	}
}
@-moz-keyframes colors {
	0% {
		background-color: #7db9e8;
	}
	20% {
		background-color: #82c06b;
	}
	40% {
		background-color: #73bcc3;
	}
	60% {
		background-color: #e33d3d;
	}
	80% {
		background-color: #e48a70;
	}
	100% {
		background-color: #7db9e8;
	}
}
@keyframes colors {
	0% {
		background-color: #7db9e8;
	}
	20% {
		background-color: #82c06b;
	}
	40% {
		background-color: #73bcc3;
	}
	60% {
		background-color: #e33d3d;
	}
	80% {
		background-color: #e48a70;
	}
	100% {
		background-color: #7db9e8;
	}
}

.search-container h1 {
	font-size: 1.1em;
	width: 260px;
	clear: both;
	display: inline-block;
	font-size: 2em;
	color: white;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.50);
	margin: 0 !important;
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px !important;
	margin-left: -160px;
	margin-top: 6px;
}

.app-icon {
	float: left;
	margin-right: 20px;
}