@import '_settings';


/*------------------------------------*\
    #THUMB - SEARCH RESULT THUMBNAILS
\*------------------------------------*/

.link {
  text-decoration: none;
  display: block;
  float: left;
}

.link:hover {
    opacity: 0.5;
}

.link:focus {
    opacity: 0.5;
}

.selectedThumbnail {
  opacity: 0.2;
}

.selectedThumbnail:hover {
  opacity: 0.1;
}

.thumb {
    height: 128px;
    border: 1px solid transparent;
    display: block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}



#browserView {
    height: 100%;
    width: 100%;
}

.full-size {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}

#buddyIcon img {

    margin-top: 10px;
    /*
    margin-right: 4px;*/
    width: 30px;
    height: 30px;
    text-align: left;
}

.wrapper {
    /*You can add padding and margins here.*/
   padding-top: 50px;
}


.cfp-hotkeys-container {
    display: none;
}


#debugConsole
{
    z-index: 10000;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    border: 2px solid red;
    /*display: none;*/
}



.pace .pace-progress {
  background: gray;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.table-header
{
  font-weight: bold;
}

.counter {
  font-size: 1.3em;
  margin-left: 30px;
  margin-right: 10px;
}

.counter-remove
{
  margin-left: 3px;
  width: 18px !important;
}

.counter-remove:hover .fa-check:before {
    content: "\f00d";
}

.select-dark {

  color: Gray;
   background: transparent;
   border: 1px solid gray;
   border-radius: 0;
   -webkit-appearance: none;
}


.cc
{
  font-family: 'CreativeCommons';
  font-size: 1.2em;
}


.footer.row { height: 18px; bottom: 0; line-height: 18px; }

.footer
{
    font-size: 0.7em;
    padding-left: 4px;
    color: white;
    background-color: rgba(255,255,255, 0.2);
}

.actions.row { height: 40px; bottom: 18px; line-height: 18px; }

.actions
{
  color: white;
  background-color: #2f2f2f;
  padding-left: 4px;
}

.actions select
{
  margin-top: 6px;
  margin-right: 8px;
  line-height: 28px !important;
  border: 0;
  height: 28px !important;
}

.container {
    top: 70px;
    bottom: 18px;
    min-height: 200;
}

.container.extended {
  bottom: 58px;
}




.folder, .download {
  color: white;
}

.content {

}

.padding {

    padding: 40px;

}

.middle {
    padding: 20% 50px 0px 50px;
}

.wallpaper {
    background: url(../img/wallpaper-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur
{
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8x);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.wallpaper-2
{
  background-image: url('../img/wallpaper-2.jpg');
  background-size: cover;
}

.wallpaper-3
{
  background-image: none;
  background-color: white;
  background: linear-gradient(to bottom, rgb(255,255,255) 20%,rgb(120,120,120) 100%);
}

.wallpaper-4
{
  background-image: none;
  background-color: gray;
  background: linear-gradient(to bottom, rgb(30,30,30) 20%,rgb(100,100,100) 100%);
}

.wallpaper-gray
{
  background-image: none;
  background-color: gray;
  background: linear-gradient(to bottom,  rgb(60,60,60) 0%,rgb(30,30,30) 100%);
}




.opacity {
    opacity: 0.6;
}

.frame {
    -webkit-app-region: drag;
    height: 32px;
    position: fixed;
    width: 100%;
    background-color: $toolbar-background;
    font-family: Webdings;
    text-align: right;
    font-size: 12px;
    cursor: move;
}

    .frame a {

        -webkit-app-region: no-drag;
        color: $toolbar-foreground;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        height: 32px;
        width: 28px;
        margin: 0;
        padding: 0;
    }

        .frame a:hover {

            color: gray;
            background-color: $toolbar-foreground-hover;
        }

#window-close {

    width: 48px;

}

.toolbar {
    -webkit-app-region: drag;
    background-color: #2f2f2f;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 0px;
    right: 0px;
    color: white;
}

.toolbar a, .toolbar div, .toolbar input, .toolbar img, .toolbar select, .toolbar span {
  -webkit-app-region: no-drag;
}

.center {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -100px;
   margin-left: -160px;
   margin-top: 6px;
 }

.search-container h1 {
    font-size: 1.1em;
    width: 260px;
    clear: both;
    display: inline-block;
    height: 80px;
    margin-top: -110px;
    font-size: 1.6em;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.50);
}

.dropdown > ul {

    list-style-type: none;
    margin: 0px;
    position: fixed;
    font-size: 0.8em;
    margin-left: 0px;
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s linear;
    padding: 10px 20px 10px 5px;
    background-color: rgba(255, 255, 255, 0.50);
    text-shadow: none;
    z-index: 5000;
}

.dropdown:hover > ul {

  opacity: 1;

}

.dropdown > ul {

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.dropdown:hover > ul {

    visibility:visible;
    opacity:1;
    transition-delay:0s;

}

.search-small .dropdown > ul {

    margin-top: 32px;

}

.search-small .search-type span {

    margin-top: 30%;

}

.search-large .search-type span {

    margin-top: 25%;
}

.search-small .search-button span {

    margin-top: 40%;

}

.search-large .search-button span {

    /* Was unable to align the search button icon properly for the large search
       area, so had to do the relative and negative top value. Strange thing is
       that it was easy to make it look good in Chrome, but fails as Chrome App. */
    position: relative;
    top: -3px;
    font-size: 20px;
}

.smaller
{
  font-size: 0.8em;
}

.larger
{
    font-size: 1.2em;
}

.right
{
  float: right;
}




/* Apply only to first level of child elements */
.search-control > * {
  float: left;
  height: 40px;
}

  .search-control input {
    font-size: 1.0em;
    width: 200px;
    padding: 4px;
    border: 0px;
  }

  .search-control select {
    width: 80px;
    font-size: 0.60em;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .search-control a {
      background-color: rgba(255, 255, 255, 0.50);
      cursor: pointer;
      color: white;
      display: inline-block;
  }

      .search-control a:hover {
          color: #cecece;
      }

      .search-control a span {
         margin-top: 7px;
         margin-left: 6px;
         margin-right: 6px;
       }


.search-control-smaller
{
  margin-top: 5px;
  margin-right: 5px;
}

/* Apply only to first level of child elements */
.search-control-smaller > * {
  height: 30px;
}

.search-control-smaller input {
  width: 120px;
  font-size: 0.8em;
}

.search-control-smaller select {
  width: 60px;
}


/* LOGO: Styles for the logo in the header menu. */
.logo {
  float: left;
  margin-top: 0px;
  display: inline-block;
  padding: 12px 0px 8px 20px;
  margin-top: -10px;
}

.logo img
{
  width: 200px;
}

.logo a:hover
{
    background-color: transparent;
}


/* MENU: Styles for the top header menu. */
.menu {
  float: right;
  display: inline-block;
}

  .menu li {
    list-style-type: none;
    display: inline;
    float: left;
  }

  .menu li > a, .menu li > span {
  width: 120px;
  height: 50px;
  color: #9f9f9f;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;

  transition-duration: 0.3s;
    transition-property: background-color;

  }

  .menu.smaller li > a, .menu.smaller li > span {
    height: 40px;
    line-height: 40px;
  }

    .menu li > a:hover {
      background-color: gray;
      color: silver;
    }

    .menu li > a:focus {
      background-color: gray;
      color: silver;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }

    .menu li > a:active {
        background: #171717;
        color: white !important;
    }

    .menu li > a:visited {
        background: #171717;
        color: white !important;
    }

    .menu li > a.selected {
        background: white;
    }

    .menu li > a.active {
      background: red;
      color: blue;
    }



@media screen and (max-width: 740px) {

    .search-text {
        display: none;
    }


}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 740px) {

    .menu li:not(.not-responsive)
    {
      display: none;
    }
}

@media screen and (max-width: 456px) {

    .menu li:not(.not-responsive)
    {
      display: none;
    }
}
