@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@font-face {
  font-family: 'CreativeCommons';
  src: url('../fonts/cc-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

html {
    font-family: sans-serif;
    overflow-y: hidden;

    /* Removes touch delay for IE */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    /*background-color: gray;*/
    font-size: 1.0em;
    -webkit-text-size-adjust: 100%;
}
