$font-face = RobotoDraft, Roboto, sans-serif
$font-size = 1.0em

$toolbar-background = #2f2f2f
$toolbar-foreground = #9f9f9f
$toolbar-foreground-hover = #3e3e3e

/* Specify theme colors */
@import '_theme_lightblue';
