
$accent-50 = #ECEFF1
$accent-100 = #CFD8DC
$accent-200 = #B0BEC5
$accent-300 = #90A4AE
$accent-400 = #78909C
$accent-500 = #607D8B
$accent-600 = #546E7A
$accent-700 = #455A64
$accent-800 = #37474F
$accent-900 = #263238

$accent-foreground-dark = black
$accent-foreground-light = white
