.accent-50 {
	background-color: $accent-50;
	color: black;
}

.accent-100 {
	background-color: $accent-100;
	color: black;
}

.accent-200 {
	background-color: $accent-200;
	color: black;
}

.accent-300 {
	background-color: $accent-300;
	color: black;
}

.accent-400 {
	background-color: $accent-400;
	color: white;
}

.accent-500 {
	background-color: $accent-500;
	color: white;
}

.accent-500 a {
	color: white;
}

.accent-500 a:hover {
	color: silver;
}

.accent-500 a:visited {
	color: white;
}

.accent-600 {
	background-color: $accent-600;
	color: white;
}

.accent-700 {
	background-color: $accent-700;
	color: white;
}

.accent-800 {
	background-color: $accent-800;
	color: white;
}

.accent-900 {
	background-color: $accent-900;
	color: white;
}
