@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

html {
    font-family: sans-serif;
    overflow-y: hidden;

    /* Removes touch delay for IE */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


body {
    /*background-color: gray;*/
    font-size: 1.0em;
    -webkit-text-size-adjust: 100%;
}

.page { left: 0; right: 0; top: 0; bottom: 0; }

.row, .col, .page { overflow: hidden; position: absolute; }

.row { left: 0; right: 0; }

.col { top: 0; bottom: 0; }

.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }

.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }

.pane { display: none; }

.footer.row { height: 18px; bottom: 0; line-height: 18px; }

.footer
{
    font-size: 0.7em;
    padding-left: 4px;
    color: white;
    background-color: rgba(255,255,255, 0.5);
}

.actions.row { height: 40px; bottom: 18px; line-height: 18px; }

.actions
{
  background-color: #2f2f2f;
  padding-left: 4px;
}

webview
{
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
}

.container {
    top: 70px;
    bottom: 18px;
    min-height: 200;
}

.container.extended {
  bottom: 58px;
}

h1, h2, h3, h4 {
    margin-top: 4px;
    margin-bottom: 6px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    color: gray;
    background: gray;
    font-size: 0;
    border: 0;
}

p {
    margin-bottom: 5px;
}

.content {

}

.padding {

    padding: 40px;

}

.middle {
    padding: 20% 50px 0px 50px;
}

.wallpaper {
    /*
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    padding-top: 50px;
    */
    background: url(../img/wallpaper-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur
{
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8x);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.wallpaper-2
{
  background-image: url('../img/wallpaper-2.jpg');
  background-size: cover;
}

.wallpaper-3
{
  background-image: url('../img/wallpaper-3.jpg');
  background-size: cover;
  /*color: black;
  text-shadow: 0px 1px 0px rgba(0,0,0, 0.3);*/
}

.wallpaper-gray
{
  background-image: none;
  background-color: silver;

	background-color: #f0f0f0;
	background: linear-gradient(to bottom,  rgb(60,60,60) 0%,rgb(30,30,30) 100%);

  /*color: black;
  text-shadow: 0px 1px 0px rgba(0,0,0, 0.3);*/
}


.opacity
{
    opacity: 0.6;
}

.frame {
    -webkit-app-region: drag;
    height: 32px;
    position: fixed;
    /*position: absolute;*/
    width: 100%;
    background-color: #2f2f2f;
    font-family: Webdings;
    text-align: right;
    font-size: 12px;
    cursor: move;
}

    .frame a {

        -webkit-app-region: no-drag;
        color: #9f9f9f;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        height: 32px;
        width: 28px;
        margin: 0;
        padding: 0;
    }

        .frame a:hover {

            color: gray;
            background-color: #3e3e3e;
        }

#window-close {

    width: 48px;

}


.toolbar {

    -webkit-app-region: drag;
    background-color: #2f2f2f;
    height: 50px;
    position: fixed;

    /*position: absolute;*/

    top: 20px;
    left: 0px;
    right: 0px;

    color: white;
    /*font-size: 0.9em;*/
}

.toolbar a, .toolbar div, .toolbar input, .toolbar img, .toolbar select, .toolbar span {
  -webkit-app-region: no-drag;
}

.center
 {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -100px;
   margin-left: -160px;
   margin-top: 6px;
 }

.search-container h1 {
    font-size: 1.1em;
    width: 260px;
    clear: both;
    display: inline-block;
    height: 80px;
    margin-top: -110px;
    font-size: 1.6em;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.50);
}

/*
.search-type {
    float: left;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.75);
    background-color: white;
    color: #cecece;
    cursor: pointer;
    padding-right: 6px;
}

    .search-type:hover {

        color: silver;

    }

*/




/*
.search-small {

    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.50);
    height: 32px;
    margin-top: 8px;
    margin-right: 4px;
    float: left;
}

    .search-small input {
        width: 150px;
        font-size: 1em;
    }


.search-large {

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -160px;
    margin-top: 6px;
    height: 40px;

}

    .search-large input {

        width: 200px;
        font-size: 1em;
    }
*/

.dropdown > ul {

    list-style-type: none;
    margin: 0px;
    position: fixed;
    font-size: 0.8em;
    margin-left: 0px;
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s linear;
    padding: 10px 20px 10px 5px;
    background-color: rgba(255, 255, 255, 0.50);
    text-shadow: none;
    z-index: 5000;

}

.dropdown:hover > ul {

  opacity: 1;

}

.dropdown > ul {

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.dropdown:hover > ul {

    visibility:visible;
    opacity:1;
    transition-delay:0s;

}

.search-small .dropdown > ul
{
    margin-top: 32px;
}

.search-small .search-type span {
    margin-top: 30%;
}

.search-large .search-type span {

    margin-top: 25%;
}

.search-small .search-button span {
    margin-top: 40%;
}

.search-large .search-button span {

    /* Was unable to align the search button icon properly for the large search
       area, so had to do the relative and negative top value. Strange thing is
       that it was easy to make it look good in Chrome, but fails as Chrome App. */
    position: relative;
    top: -3px;
    font-size: 20px;
}


/*
.dropdown a {

    text-decoration: none;
    color: #2f2f2f;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.49);
    display: block;
    height: 100%;
}

    .dropdown a:hover {

        color: #3e3e3e;
        cursor: pointer;

    }
*/

/*
input[type=search] {
    padding: 4px;
    border: 0px;
    background-color: white;
}*/

/*a:-webkit-any-link{
    text-decoration:none !important;
}*/

a { text-decoration:none; }


.smaller
{
  font-size: 0.8em;
}

.larger
{
    font-size: 1.2em;
}

.right
{
  float: right;
}


/* SEARCH-CONTROL: Styles for the search control, custom directive control. */
.search-control
{

}

/* Apply only to first level of child elements */
.search-control > * {
  float: left;
  height: 40px;
}

  .search-control input {
    font-size: 1.0em;
    width: 200px;
    padding: 4px;
    border: 0px;
  }

  .search-control select {
    width: 80px;
    font-size: 0.60em;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .search-control a {
      background-color: rgba(255, 255, 255, 0.50);
      cursor: pointer;
      color: white;
      display: inline-block;
  }

      .search-control a:hover {
          color: #cecece;
      }

      .search-control a span
       {
         margin-top: 7px;
         margin-left: 6px;
         margin-right: 6px;
       }


.search-control-smaller
{
  margin-top: 5px;
  margin-right: 5px;
}

/* Apply only to first level of child elements */
.search-control-smaller > * {
  height: 30px;
}

.search-control-smaller input
{
  width: 120px;
  font-size: 0.8em;
}

.search-control-smaller select
{
  width: 60px;
}


/* LOGO: Styles for the logo in the header menu. */
.logo
{
  float: left;
  margin-top: 0px;
  display: inline-block;
  padding: 12px 0px 8px 20px;
  margin-top: -10px;
}

.logo img
{
  width: 200px;
}

.logo a:hover
{
    background-color: transparent;
}


/* MENU: Styles for the top header menu. */
.menu
{
  float: right;
  display: inline-block;
}

  .menu li
  {
    list-style-type: none;
    display: inline;
    float: left;
  }

  .menu li > a, .menu li > span
  {
  width: 120px;
  height: 50px;
  color: #9f9f9f;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;

  transition-duration: 0.3s;

/*
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;*/

    transition-property: background-color;

/*
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
*/
  }

  .menu.smaller li > a, .menu.smaller li > span
  {
    height: 40px;
    line-height: 40px;




  }

    .menu li > a:hover
    {
      background-color: gray;
      color: silver;
      /*
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      */
    }

    .menu li > a:focus
    {
      background-color: gray;
      color: silver;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }

    .menu li > a:active {
        background: #171717;
        color: white !important;
    }

    .menu li > a:visited {
        background: #171717;
        color: white !important;
    }

    .menu li > a.selected {
        background: white;
    }

    .menu li > a.active
    {
      background: red;
      color: blue;
    }



.thumbs ul li
{
  float: left;
}

.thumbs ul li a img {

    height: 128px;
    border: 1px solid transparent;
    /*border: 0;
    margin: 0;
    padding: 0;*/
    /*
    box-shadow: 0 0 12px rgba(0, 0, 0, .9);
    */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    /*
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;*/

    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.thumbs ul li a img.selectedThumbnail {

  border: 1px solid white;
}


.thumbs ul li a img:hover {
    opacity: 0.5;
}

.thumbs ul li a:focus img {
    opacity: 0.5;
}

.thumbs ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.thumbs ul li
{
    display: inline;
}

.thumbs ul li a
{
    text-decoration: none;
    /*margin: 0;
    padding: 0;
    border: 0;*/
}

.thumbs ul li a:hover
{
}


#browserView {
    height: 100%;
    width: 100%;
}

.full-size {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}

#buddyIcon img {

    margin-top: 10px;
    /*
    margin-right: 4px;*/
    width: 30px;
    height: 30px;
    text-align: left;
}

.wrapper {
    /*You can add padding and margins here.*/
   padding-top: 50px;
}

ul
{
    margin-left: 20px;
}

li
{
    padding-left: 0px;
}


.cfp-hotkeys-container {
    display: none;
}


#debugConsole
{
    z-index: 10000;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    border: 2px solid red;
    /*display: none;*/
}



.pace .pace-progress {
  background: gray;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}




@media screen and (max-width: 768px) {

    .search-text {
        display: none;
    }


}

@media screen and (max-width: 768px) {


    input[type=search] {
  width: 100px;
}


}


@media screen and (max-width: 650px) {


    .wallpaper {
        top: 107px;
    }

    .container {

        top: 107px;
    }

    .toolbar {
      height: 107px;
}
    /* Make the margin around the logo bigger, forcing the toolbar to flow. */
    /*#logo {
        margin-right: 80px;
         }*/

}
