
.flex-images {
    overflow: hidden;
}

.flex-images .item {
    float: left;
    margin: 4px;
    border: 1px solid #eee;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.flex-images .item img {
    display: block;
    width: auto;
    height: 100%;
}



.thumb {
    height: 128px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
    /*
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: opacity;
	transition-property: opacity;*/
}

figure.selectedThumbnail img {
    background-color: red;
    opacity: 1;
}

figure.effect-winston:hover {
    opacity: 1 !important;
    background-color: black;
}

figure.selectedThumbnail {
    opacity: 0.2 !important;
    background-color: black;
}

figure.selectedThumbnail:hover {
    opacity: 0.5 !important;
    background-color: black;
}

figure.selectedThumbnail:focus {
    /*opacity: 0.4;*/
}

figure.selectedThumbnail::before {
    content: ' ';
    background-image: url('/images/check.svg');
    background-size: 24px 24px;
    height: 32px;
    width: 32px;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 10000;
}

.link a {
    display: inline-block;
    background-color: green;
}

.marginless {
    margin: 0 !important;
    padding: 0 !important;
}

.left {
    text-align: left !important;
}

/* *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; } // required */
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    min-width: 10px;
    max-width: 240px;
    max-height: 360px;
    /*width: 20%;*/
    height: auto;
    /*background: black;*/
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
}

.grid figure figcaption {
    color: #fff;
    font-size: 1.0em;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}


.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 0.8em;
    margin-left: 6px;
}


.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



/*-----------------*/
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
    text-align: left;
}

figure.effect-winston img {
    transition: opacity 0.45s;
    /*backface-visibility: hidden;*/
}

figure.effect-winston figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*
	background: url('/images/triangle.svg') no-repeat center center;*/
    background-size: 100% 100%;
    content: '';
    transition: opacity 0.45s, transform 0.45s;
    transform: rotate3d(0,0,1,45deg);
    transform-origin: 0 100%;
}

figure.effect-winston h2 {
    transition: transform 0.35s;
    transform: translate3d(0,-100px,0);
}

figure.effect-winston p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1.5em 7% 0;
    padding: 0;
}

figure.effect-winston a {
    margin: 0 4px;
    color: white;
    font-size: 170%;
}

/*figure.effect-winston a:hover,
figure.effect-winston a:focus {
	color: gray !important;
}*/

figure.effect-winston p a i {
    /*opacity: 0;
	transition: opacity 0.35s, transform 0.35s;*/
    transform: translate3d(0,50px,0);
}

figure.effect-winston:hover h2 {
    transform: translate3d(0,30px,0);
}

figure.effect-winston:hover figcaption::before {
    /*opacity: 0.7;*/
    transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston:hover p i {
    /*opacity: 1;*/
    transform: translate3d(0,0,0);
}

figure.effect-winston:hover p a:nth-child(3) i {
    /*transition-delay: 0.05s;*/
}

figure.effect-winston:hover p a:nth-child(2) i {
    /*transition-delay: 0.1s;*/
}

figure.effect-winston:hover p a:first-child i {
    /*transition-delay: 0.15s;*/
}

/* Media queries */
/*
@media screen and (max-width: 50em) {
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}*/



.thumbs .icon {
    color: white;
    font-size: 18px;
}

.thumbs .icon:hover {
}

.selection-count {
    font-size: 24px !important;
    padding-top: 14px !important;
}
