<div id="gallery" class="thumbs grid">

    <div class="flex-images">
        <div class="item" ng-repeat="item in items" data-w="{{item.width_t}}" data-h="{{item.height_t}}">
            <img image="{{item.url_t}}" title="{{item.name}}" alt="{{item.name}}">
            <!--<img src="blank.gif" data-src="images/1.jpg">-->
            <!--<div class="over">{{item.name}}</div>-->
        </div>
    </div>

	<figure ng-repeat="item in items" class="effect-winston" ng-class="{selectedThumbnail: item.selected}" ng-click="select(item)" md-swipe-left="select(item)" md-swipe-right="select(item)">
		<img image="{{item.url}}" class="thumb" title="{{item.name}}" alt="{{item.name}}">
		<figcaption>
			
			<i ng-show="item.can_download !== 1" class="icon icon-cancel" style="color: white; margin-left: 6px; margin-top: 6px; position: absolute;" title="Not available for download"></i>
			
			<h2>{{ item.name | limitTo: 50 }}{{item.name.length > 50 ? '...' : ''}}</h2>
			<p>
				<i ng-show="item.count !== undefined" class="mdi mdi-folder-image">{{item.count}}</i>
				<a ng-click="menu(item)">
                    <i class="icon icon-more"></i>
                    <!--<i class="mdi mdi-dots-horizontal"></i>-->
                </a>
			</p>
		</figcaption>
	</figure>

	<div class="clear"></div>

	<div style="padding: 10px; margin-bottom: 12px;" ng-show="showLoadMore">

		<button class="win-button" ng-click="loadMore()">
			Load more...
		</button>
	</div>

	<div style="padding: 10px;" ng-show="showStatus">
		{{status}}
	</div>

</div>