@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    brain.no<br />
    Drivenesvegen 16<br />
    <abbr title="Phone">P:</abbr>
    +4740204040
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pixelworld@hotmail.com">pixelworld@hotmail.com</a><br />
</address>