<?xml version="1.0"?>
<appSettings>
</appSettings>

<!--
Secret.config example:

<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="downloadr:key" value="" />
  <add key="downloadr:secret" value="" />
  <add key="cloud:StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=[NAME];AccountKey=[KEY]" />
</appSettings>

-->