.accent-50 {
	background-color: #ECEFF1;
	color: black;
}

.accent-100 {
	background-color: #CFD8DC;
	color: black;
}

.accent-200 {
	background-color: #B0BEC5;
	color: black;
}

.accent-300 {
	background-color: #90A4AE;
	color: black;
}

.accent-400 {
	background-color: #78909C;
	color: white;
}

.accent-500 {
	background-color: #607D8B;
	color: white;
}

.accent-600 {
	background-color: #546E7A;
	color: white;
}

.accent-700 {
	background-color: #455A64;
	color: white;
}

.accent-800 {
	background-color: #37474F;
	color: white;
}

.accent-900 {
	background-color: #263238;
	color: white;
}
