<!doctype html>
<html ng-app="downloadr" ng-csp="">
<!-- Verify is csp is needed, found a source that says it is
    only required for older versions of AngularJS. Ref: http://developer.chrome.com/apps/angular_framework.html -->
<head>
    <meta charset="UTF-8">
    <title>Flickr Downloadr 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- user-scalable removes touch delay for Chrome and FireFox. -->
    
    <!--<link rel="import" href="views/view-thumbnail.html" />-->

    <link href="assets/app.css" rel="stylesheet">

</head>
<body>

    <header ng-controller="ScreenController as screens">
        <div class="frame">

            <!-- Debug Tools - Advanced Settings & Test Runner -->
            <a href="#" ng-click="test_view();" id="window-tests" title="Tests">&#44;</a>
            <a href="#" ng-click="debug_view();" id="window-debug" title="Debug">&#64;</a>
            <webview id="browserView"></webview>

            <a href="#" ng-click="minimize();" id="window-minimize" title="Minimize">&#48;</a>
            <a href="#" ng-click="restore();" ng-show="isMaximized" title="Restore Down" id="window-restore">&#50;</a>
            <a href="#" ng-click="maximize();" ng-hide="isMaximized" title="Maximize" id="window-maximize">&#49;</a>
            <a href="#" ng-click="close();" id="window-close" title="Close">&#114;</a>
        </div>

        <div class="toolbar">
<!--
            <a href="#" ng-click="changeScreen('start');" id="homeLink"><img src="img/downloadr.png" id="logo"></a>-->

            <!--<div ng-include="'views/view-thumbnail.html'"></div>-->
            <!--<view-thumbnail>
            </view-thumbnail>-->

            <div id="navigation">

                <div ng-hide="isOnStartScreen" class="search-container search-small">
                    <input type="search" name="search" ng-model="searchValue" placeholder="Search..." />
                    <div class="dropdown">

                        <a href="#" class="search-type" ng-click="dropDown();">
                            <span class="fa fa-camera fa-fw"></span>
                            <span class="fa fa-caret-down"></span>
                        </a>

                        <ul class="search-options">
                            <li><a href="#"><i class="fa fa-camera"></i> Photos</a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i> Videos</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> User</a></li>
                            <li><a href="#"><i class="fa fa-group"></i> Groups</a></li>
                        </ul>

                    </div>
                    <a href="#" ng-click="search();" class="search-button"><span class="fa fa-search"></span></a>
                </div>

                <!--<a href="#" class="menu-item" ng-click="changeScreen('search');" id="searchLink">SEARCH</a>-->
                <a href="#/settings" class="menu-item" ng-click="changeScreen('settings');" id="settingsLink">SETTINGS</a>
                <a href="#/about" class="menu-item">ABOUT</a>
                <a href="#/debug" class="menu-item">DEBUG</a>
                
                <!--
                <div class="menu-item" ng-show="isProfileLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>-->

                <span ng-show="isInitializing">
                    <span class="menu-item"><img src="/img/animation.gif"></span>
                </span>

                <span ng-hide="isInitializing">

                    <a href="#" class="menu-item" ng-click="changeScreen('login');" ng-disable="true" ng-hide="isLoggedIn" id="loginLink">
                        <i class="fa fa-sign-in"></i> {{LoginTitle}} <img src="/img/animation.gif">
                    </a>


                    <a href="#" class="menu-item wide" ng-click="changeScreen('logout');" ng-show="isLoggedIn" id="logoutLink">
                        <i class="fa fa-sign-out"></i>LOGOUT
                        <span id="buddyIcon"><img id="buddyIconImg" ng-src="profileIconUrl" height="16" align="right"></span>
                    </a>                    

                </span>
            </div>
        </div>
    </header>

    <div class="container" ng-view></div>

<!-- <div style="border: 4px solid red; width: 200px; height: 300px; position: absolute; top: 50px;" class="wallpaper2 blur2 start2 
    container2" ng-view></div>
 -->

    <script src="assets/app.js"></script>

</body>
</html>