<!doctype html>
<html ng-app="downloadr" ng-csp="">
    <head>
        <meta charset="utf-8">
        <title>Flickr Downloadr 3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- build:css styles/libraries.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="styles/app.css">
        <!-- endbuild -->

        <script src="bower_components/pace/pace.min.js"></script>
    </head>
    <body class="{{state.background}}">

        <header class="row header" ng-controller="ScreenController as screen">
            <div class="frame">


                <!-- Debug Tools - Advanced Settings & Test Runner -->
                <a href="#/tests" ng-show="isDebug" ng-click="test_view();"
                id="window-tests" title="Tests">&#44;</a><a href="#/debug"
                ng-show="isDebug" ng-click="debug_view();" id="window-debug"
                title="Debug">&#64;</a><a href=""
                ng-click="minimize();"
                id="window-minimize"
                title="Minimize">&#48;</a><a href="" ng-click="restore();"
                ng-show="isMaximized" ng-cloak title="Restore Down"
                id="window-restore">&#50;</a><a hreF=""
                ng-click="maximize();" ng-hide="isMaximized"
                title="Maximize" id="window-maximize">&#49;</a><a href=""
                ng-click="close();" id="window-close"
                title="Close">&#114;</a>

            </div>

            <div class="toolbar">

                <!--<div ng-include="'views/view-thumbnail.html'"></div>-->
                <!--<view-thumbnail>
                </view-thumbnail>-->

                <a href="#/" class="logo"><img src="img/downloadr.png"></a>

                <ul class="menu" nav-menu="selected">

                  <li ng-hide="state.isOnStartScreen">
                    <search class="search-control-smaller right" target="/search" value="state.searchText" ng-search="performSearch()"></search>
                  </li>

                  <li><a href="#/settings">SETTINGS</a></li>
                  <li><a href="#/about" >ABOUT</a></li>

                  <li ng-show="state.isConnecting"><span style="width: 40px;"><i class="fa fa-spinner fa-spin"></i></span></li>

                  <li ng-show="!state.isConnecting && state.isAnonymous"><a href="#/login" style="width: 40px;" title="Sign in">
                      <i class="fa fa-sign-in"></i>
                  </a></li>

                  <li ng-show="!state.isConnecting && !state.isAnonymous"><a href="#/logout" style="width: 40px;" title="Sign out">
                      <i class="fa fa-sign-out"></i>
                  </a></li>
<!--
                  <li ng-cloak ng-hide="isInitializing"><a href="#/profile" ng-show="state.isLoggedIn">
                      <span id="buddyIcon">
                        <img id="buddyIconImg" ng-src="profileIconUrl" height="16" align="right"></span>
                     {{DisplayName}}
                  </a></li>-->
                </ul>
                </div>
        </header>

        <div class="container row scroll-y" ng-class="{extended: state.showActions}" ng-view></div>

        <div class="actions row" ng-show="state.showActions" ng-controller="ActionsController">
          <ul class="menu smaller" nav-menu="selected">

            <!--
            <li>
              <search class="search-control-smaller right" value="state.searchText" ng-search="performSearch()"></search>
            </li>-->
            <li>
            Selected: {{count}}
            </li>
            <li>
              <select><option value="photos">Large</option>
                <option value="videos">Small</option>
                <option value="user">Album</option>
                <option value="groups">List</option>
              </select>
            </li>
            <li><a href="#/folder">NEXT</a></li>
          </ul>
        </div>

        <div class="footer row" ng-controller="StatusController">{{message}}</div>

        <!-- build:js scripts/libraries.js -->
        <!-- bower:js -->
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
        <script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>
        <script src="bower_components/mousetrap/mousetrap.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/app.js -->
        <script src="scripts/index.js"></script>
        <script src="scripts/flickr.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/filters.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
