.favorites-apollo {

    background: url('../images/favorites-apollo-bg-2.jpg') no-repeat center center fixed; 
    background-size: cover;

    position: absolute;
    width: 100%;
    height: 100%;

    /*text-align: center;*/

}

#nasa-logo {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 100px;
}