.svg-ic_arrow_back_24px {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_arrow_forward_24px {
	background-position: 0 -24px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_backspace_24px {
	background-position: 0 -48px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_bug_report_24px {
	background-position: 0 -72px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_close_18px {
	background-position: 0 -96px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_close_24px {
	background-position: 0 -114px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_expand_less_24px {
	background-position: 0 -138px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_expand_more_24px {
	background-position: 0 -162px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_help_24px {
	background-position: 0 -186px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_keyboard_backspace_24px {
	background-position: 0 -210px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_menu_24px {
	background-position: 0 -234px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_refresh_24px {
	background-position: 0 -258px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_remove_24px {
	background-position: 0 -282px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_schedule_24px {
	background-position: 0 -306px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_search_24px {
	background-position: 0 -330px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

.svg-ic_settings_24px {
	background-position: 0 -354px;
	background-repeat: no-repeat;
	background-image: url(icons.svg);
}

