$foreground-color: #FFF;
$background-color: #171717;

$frame-hover: #2e2e2e;
$frame-pressed: #454545;
$frame-inactive: #767676;

$scollbar-background: #e6e6e6;
$scrollbar-thumb: #b9b9b9;

// Movies highlight: 0078d7
// Groove highlight: 006dc3
$menu-highlight: #0078d7;