<div class="content padding">

    <h3>About</h3>
    <p>
        Flickr Downloadr (v<span app-version></span>) is an app that enables you to find and pick photos to download from the Flickr.com service.
    </p>
    <p>&nbsp;</p>
    <p>
        Focus for the app have always been on simplicity and elegance. The main features needed, in the simplest form.
    </p>
    <p>&nbsp;</p>
    <p>This application is a third party application and is not association with Flickr or Yahoo in any way or form.</p>
    <hr />
    <h3>Credits</h3>

    <ul>
         <li ng-repeat="credit in credits">{{credit.type}} by <a href="{{credit.url}}" target="_blank">{{credit.text}}</a></li>
    </ul>

    <hr />
    <h3>Changes</h3>
    <p>
        2014-11-01: Release of Flickr Downloadr 3.0
    </p>
    <p>
        2014-08-30: Release of Flickr Downloadr 3.0 beta
    </p>
    <p>
        2014-02-16: Release of Flickr Downloadr 3 alpha
    </p>
    <p>
        2009-11-01: Release of Flickr Downloadr 2.0.4
    </p>
    <p>
        2009-08-04: Release of Flickr Downloadr 2.0.3
    </p>
    <p>
        2009-03-29: Release of Flickr Downloadr 2.0.2
    </p>
    <p>
        2009-03-17: Release of Flickr Downloadr 2.0.1
    </p>
    <p>
        2009-03-14: Release of Flickr Downloadr 2.0
    </p>
    <p>
        2007: Release of Flickr Downloadr 1.0
    </p>
</div>
