<div id="settingsView" class="container">
    <div class="content padding">
        <h1>Settings</h1>
        <p>
            <input type="text" ng-model="defaultPath" />
        </p>
        <p>
            <label for="backgroundImageInput">Show Background Image</label>
            <input id="backgroundImageInput" type="checkbox" ng-model="backgroundImage" />
        </p>
        <p>
            <button ng-click="save();">Save</button>
        </p>

        <hr />
        <h2>About</h2>
        <p>Flickr Downloadr 3 (v3.0.0)</p>
        <p>
            Flickr Downloadr is an app that enables you to find, pick and download photos from the Flickr.com service.
        </p>
        <p>&nbsp;</p>
        <p>
            Focus for the app have always been on simplicity and elegance. The main features needed, in the simplest form.
        </p>
        <p>&nbsp;</p>
        <p>This application is a third party application and is not association with Flickr or Yahoo in any way or form.</p>
        <hr />
        <h2>Credits</h2>

        

        
        <p>Developed by <a href="http://brain.no/" target="_blank">brain.no</a> (Sondre Bjellås)</p>
        <p>Icon by <a href="http://hadezign.com/" target="_blank">HADezign</a></p>
        <p>Symbols by <a href="http://fontawesome.io/" target="_blank">Font Awesome</a></p>
        <p>Image by <a href="http://www.flickr.com/photos/10134557@N08/2527630813" target="_blank">Ossi Petruska</a></p>
        <p>Libraries: <a href="http://angularjs.org/" target="_blank">AngularJS</a></p>
        <hr />
        <h2>Changes</h2>
        <p>
            2014-02-16: Release of Flickr Downloadr 3
        </p>
        <p>
            2009-11-01: Release of Flickr Downloadr 2.0.4
        </p>
        <p>
            2009-08-04: Release of Flickr Downloadr 2.0.3
        </p>
        <p>
            2009-03-29: Release of Flickr Downloadr 2.0.2
        </p>
        <p>
            2009-03-17: Release of Flickr Downloadr 2.0.1
        </p>
        <p>
            2009-03-14: Release of Flickr Downloadr 2.0.0
        </p>
        <p>
            2007: Release of Flickr Downloadr
        </p>
    </div>
</div>