<div class="container folder">

	<div class="content middle">

		<h2 ng-hide="completed"><i class="fa fa-file-photo-o"></i> Downloaded {{photoNumber}} of {{count}}</h2>
		<h2 ng-show="completed"><i class="fa fa-photo"></i> Downloaded {{count}} photos successfully</h2>
		<button ng-hide="completed">Pause</button>
		<button ng-hide="completed">Cancel</button>
		<p ng-show="completed">
			<a href="#/">Search again</a>
		</p>
		<p>&nbsp;</p>
		<p>
			If a photo is licensed with "All Rights Reserved", it won't be downloaded.
		</p>

	</div>

</div>