<div class="gradient" id="startView">
	<div class="search-container center" layout="row" flex layout-align="center center">

		<div>
			<div>
				<h1 class="thin">Hi, what are you looking for?</h1>
			</div>
			<br>
			
			<!--
			<lx-search-filter model="state.searchText" class="" filter-width="100%" placeholder="Search"></lx-search-filter>
			-->
			<div class="card">
				<div class="toolbar">

					<!--
					<div class="toolbar__right">
						<button class="btn btn--l btn--black btn--icon" lx-ripple>
							<i class="mdi mdi--apps"></i>
						</button>
					</div>-->
<!--
					<lx-search-filter model="state.searchText" placeholder="Search"></lx-search-filter>
-->
					<lx-search-filter model="state.searchText" theme="light" filter-width="100%" placeholder="Search"></lx-search-filter>
					
					<!--
					<search class="larger" target="/search" value="state.searchText" ng-search="performSearch()"></search>
					-->

					<!--
					<div class="toolbar__right">
							<lx-search-filter model="searchFilter.second" position="right" closed></lx-search-filter>
					</div>-->
				</div>
			</div>
			
		</div>
	</div>
</div>
