    <div class="wallpaper blur2 start2 container2" id="startView">

        <div id="wallpaperControls">

            <div class="search-container search-large center">

                <h1>Hi, what are you looking for?</h1><br>

                <!-- Was unable to bind the "value" property as defined
                below. Instead I had to use a broadcast within directive -->
                <search class="larger" target="/search" value="state.searchText" ng-search="performSearch()"></search>
            </div>

        </div>
    </div>
