<div class="container padding">

	<div class="page" layout="column" layout-fill layout-align="space-around center">

		<h3>
                Are you sure you want to delete the authentication token?
                This will log you out across all your machines.
            </h3>

		<div layout="row">
			<button ng-click="logout();" class="btn btn--m btn--orange  btn--raised" lx-ripple>Yes, logout</button>&nbsp;&nbsp;
			<button ng-click="back();" class="btn btn--m btn--grey btn--raised" lx-ripple>No, go back</button>
		</div>

	</div>

</div>