<md-content md-theme="cyan" class="content">
	<!--
	 <md-tabs  class="md-accent" md-selected="selectedIndex">
      <md-tab id="tab1">
        <md-tab-label>Photostream</md-tab-label>
        <md-tab-template>
			Gallery:
          <gallery load-more="loadMorePhotos()" items="photos" status="{{status.photos}}"></gallery>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Albums</md-tab-label>
        <md-tab-template>
          <gallery load-more="loadMoreAlbums()" status="{{status.albums}}" items="albums"></gallery>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Favorites</md-tab-label>
        <md-tab-template>
          <gallery load-more="loadMoreFavorites()" status="{{status.favorites}}" items="favorites"></gallery>
        </md-tab-template>
      </md-tab>
    </md-tabs>
-->
	

  <div  flex class="accent-500 bgc-light-blue-500" flex layout="row">
  	  <img style="height: 64px; width: 64px;" image="{{buddyIcon}}">
	  
	  <div layout="column" style="margin-left: 10px;">
		  <div style="font-size: 1.4em; font-weight: bold;">{{name}}</div>
		  <div>{{username}}</div>
	  </div>
	  
  </div>

  <lx-tabs links-tc="light" active-tab="activeTab" links-bgc="light-blue-500" indicator="white" no-divider="true" z-depth="1">
	<lx-tab heading="Photostream">
		<gallery load-more="loadMorePhotos()" items="photos" status="{{status.photos}}"></gallery>
	</lx-tab>

	<lx-tab heading="Albums">
		<gallery load-more="loadMoreAlbums()" status="{{status.albums}}" items="albums"></gallery>
	</lx-tab>

	<lx-tab heading="Favorites">
		<gallery load-more="loadMoreFavorites()" status="{{status.favorites}}" items="favorites"></gallery>
	</lx-tab>

	<lx-tab heading="Galleries">
		<gallery load-more="loadMoreGalleries()" status="{{status.galleries}}" items="galleries"></gallery>
	</lx-tab>

	<lx-tab heading="Profile">

		<div style="margin-left: 30px; margin-right: 30px; margin-top: 8px; margin-bottom: 8px;" layout="row" layout-margin>

			<div flex="33"><img image="{{buddyIcon}}"></div>
			<div flex="66">

				<h1>{{name}}</h1>

				<div layout="row" layout-wrap ng-repeat="element in profile">
					<div style="width: 120px;"><strong>{{element.key}}:</strong></div>
					<div flex ng-if="element.isLink === true">
						<a href="{{element.value}}" target="_blank">{{element.value}}</a>
					</div>
					<div flex ng-if="element.isLink !== true">
						{{element.value}}
					</div>
				</div>

			</div>

		</div>

	</lx-tab>

</lx-tabs>

	
	
	<!--	
<div class="tc-white-1" flex-container="row">
    <div><img image="{{imageUrl}}" class="thumb"></div>
    <div>
-->	
	
	<!--
	<gallery load-more="loadMorePhotos()" items="photos" status="{{status.photos}}"></gallery>
	-->
	
<!--
		</div>
</div>
		-->
	<!--
	<md-tabs md-selected="selectedIndex" flex md-stretch-tabs="always">
		<md-tab md-on-select="onTabSelected(0)" md-on-deselect="announceDeselected(0)">
			<md-tab-label>Photostream</md-tab-label>
				<gallery load-more="loadMorePhotos()" items="photos" status="{{status.photos}}"></gallery>

			
		</md-tab>
		<md-tab md-on-select="onTabSelected(1)" md-on-deselect="announceDeselected(1)">
			<md-tab-label>Albums</md-tab-label>
				<gallery load-more="loadMoreAlbums()" status="{{status.albums}}" items="albums"></gallery>
		</md-tab>
		<md-tab md-on-select="onTabSelected(2)" md-on-deselect="announceDeselected(2)">
			<md-tab-label>Favorites</md-tab-label>
			<gallery load-more="loadMoreFavorites()" status="{{status.favorites}}" items="favorites"></gallery>
		</md-tab>
		<md-tab md-on-select="onTabSelected(3)" md-on-deselect="announceDeselected(3)">
			<md-tab-label>Galleries</md-tab-label>
			<gallery load-more="loadMoreGalleries()" status="{{status.galleries}}" items="galleries"></gallery>
		</md-tab>
		<md-tab md-on-select="onTabSelected(4)" md-on-deselect="announceDeselected(4)">
			<md-tab-label>Profile</md-tab-label>
			
			<div style="margin-left: 30px; margin-right: 30px; margin-top: 8px; margin-bottom: 8px;" layout="row" layout-margin>
			
				<div flex="33"><img image="{{buddyIcon}}"></div>
				<div flex="66">
					
					<h1>{{name}}</h1>
				
					<div layout="row" layout-wrap ng-repeat="element in profile">
						<div style="width: 120px;"><strong>{{element.key}}:</strong></div>
						<div flex ng-if="element.isLink === true">
							<a href="{{element.value}}" target="_blank">{{element.value}}</a>
						</div>
						<div flex ng-if="element.isLink !== true">
							{{element.value}}
						</div>
					</div>
				
				</div>
		
			</div>
				
		</md-tab>
	</md-tabs>-->
	
</md-content>