<div id="gallery" class="thumbs grid">

	<figure ng-repeat="photo in photos" class="effect-winston" ng-class="{selectedThumbnail: photo.selected}" ng-click="selectPhoto(photo)" md-swipe-left="selectPhoto(photo)" md-swipe-right="selectPhoto(photo)">
		<img ng-src="{{photo.url}}" class="thumb" title="{{photo.title}}" alt="{{photo.title}}">
		<figcaption>
			<h2>{{ photo.title | limitTo: 50 }}{{photo.title.length > 50 ? '...' : ''}}</h2>
			<p>
				<a ng-click="showMenu(photo)"><i class="mdi mdi-dots-horizontal"></i></a>
			</p>
		</figcaption>
	</figure>

	<div class="clear"></div>

	<div style="padding: 10px;" ng-show="showLoadMore">
		<md-button class="menu-button" ng-click="loadMore()">
			Load more...
		</md-button>
	</div>
	
	<div style="padding: 10px; color: white;" ng-show="searchStatus !== ''">
		{{searchStatus}}
	</div>

</div>