    <div id="searchView" class="thumbs container">
        <div class="content">
            <!--<li ng-repeat="phone in phones">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>-->
            <!--<fd-thumbnail src="img/Beautiful-Island-Wallpaper-640x360.jpg">

            </fd-thumbnail>-->

            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
            <img src="img/Beautiful-Island-Wallpaper-640x360.jpg">
            <img src="img/Blue-Green-beautiful-nature-21891805-1920-1200.jpg">
            <img src="img/Picture-4.jpg">
        </div>
    </div>
