<div id="gallery"  class="thumbs container">

<a ng-repeat="photo in photos" class="link" ng-class="{selectedThumbnail: photo.selected}" href="" ng-click="selectPhoto(photo)" repeat-done><img ng-src="{{photo.url}}" class="thumb" title="{{photo.title}}" alt="{{photo.title}}"></a>

<!--
  <ul>
    <li ng-repeat="photo in photos"><a href="" ng-click="selectPhoto(photo)"><img ng-src="{{photo.url}}" ng-class="{selectedThumbnail: photo.selected}" title="{{photo.title}}" alt="{{photo.title}}"></a></li>
  </ul>-->
  <!--
  <p>Fetching more photos...</p>
  -->

<div class="clear">
<img src="/img/loading.gif">
</div>

</div>
