<div id="settingsView" class="container">
    <div class="content padding">
        <p>
        <h3>Safe Search</h3>
              <input type="radio" ng-model="settings.safe" name="safe_search" id="safe_search_0" value="1"> <label for="safe_search_0">SafeSearch on</label><br />
              <input type="radio" ng-model="settings.safe" name="safe_search" id="safe_search_1" value="2"> <label for="safe_search_1">SafeSearch moderate</label><br />
    			    <input type="radio" ng-model="settings.safe" name="safe_search" id="safe_search_2" value="3" checked> <label for="safe_search_2">SafeSearch off</label>
        </p>

  <!--
      <p>
      <input type=checkbox id="ccsearch" name="cc_search" onchange="F.search.updateCCBoxes();">
			<label for="ccsearch">Only search within <strong>Creative Commons</strong>-licensed content</label>
			<br />
			<br />
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input type=checkbox id="cccommercial" name="cc_commercial" disabled />
			<label for="cccommercial">Find content to use commercially</label> <br />
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input type=checkbox id="ccderivs" name="cc_derivs" disabled />
			<label for="ccderivs"> Find content to modify, adapt, or build upon</label>
      </p>
-->
<br>
      <h3>Layout</h3>
        <p>
            <label for="backgroundImageInput">Show Background Image</label>
            <input id="backgroundImageInput" type="checkbox" ng-model="settings.background" />
        </p>
        <p>
            <button ng-click="save();">Save</button>
        </p>


    </div>
</div>
