$font-face: RobotoDraft, Roboto, sans-serif;
$font-size: 1.0em;

$toolbar-background: #2f2f2f;
$toolbar-foreground: #9f9f9f;
$toolbar-foreground-hover: #3e3e3e;

$accent-50: #E1F5FE;
$accent-100: #B3E5FC;
$accent-200: #81D4FA;
$accent-300: #4FC3F7;
$accent-400: #29B6F6;
$accent-500: #03A9F4;
$accent-600: #039BE5;
$accent-700: #0288D1;
$accent-800: #0277BD;
$accent-900: #01579B;

$accent-a100: #80D8FF;
$accent-a200: #40C4FF;
$accent-a400: #00B0FF;
$accent-a700: #0091EA;

$accent-foreground-dark: black;
$accent-foreground-light: white;
